.body{
	margin: 0;
	background-color: #171E38;
	display: flex;
	justify-content: center;
}
.chart__block{
	width: 50%;
	margin-top: 100px;
	padding: 20px;
	background-color: #212840
}
canvas{
	width: 100%;
}
